<section id="navigation">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-md fixed-top">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navigation-bar"
          >
            <span class="navbar-toggler-icon" style="color: red">&#9776;</span>
          </button>

          <a class="navbar-brand" href="#">
            <i class="fas fa-home" style="font-size: 1em; color: black"></i>
          </a>
          <h1 class="h1-title">COVID-19</h1>
          <div class="collapse navbar-collapse" id="navigation-bar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#statistic">STATISTIQUES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

<section id="header">
  <div class="container">
    <div class="row">
      <div class="marquee-rtl">
        <div>
          Se laver très régulièrement les mains, tousser ou éternuer dans son
          coude ou dans un mouchoir, Utiliser un mouchoir à usage unique et le
          jeter, Saluer sans se serrer la main, éviter les embrassades, portez
          un masque, respectez la distanciation physique
        </div>
      </div>
    </div>
    <div id="carousel">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let slide of images" [id]="slide.id">
          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section id="statistic">
  <div class="container text-center">
    <div class="row">
      <div class="col text-left">
        <h2>STATISTIQUES</h2>
      </div>
    </div>
    <div class="row">
      choisissez une région :
      <div class="col text-center mb-3">
        <form>
          <div class="form-group">
            <select
              (change)="countryChanged($event.target.value)"
              class="form-control"
              id="country"
            >
              <option selected value="global">Globale</option>
              <option *ngFor="let country of countries" value="{{ country }}">
                {{ country }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 md-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">INFECTÉS</h3>
            <p class="card-text" [countUp]="data.confiremd">
              {{ data.confiremd | number }}
            </p>
            <p>{{ data.lastupdate | date: "longDate" }}</p>
            <p>Nombre de cas actifs de COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-recovered">
          <div class="card-body">
            <h3 class="card-title">RÉTABLIS</h3>
            <p class="card-text" [countUp]="data.recovered">
              {{ data.recovered | number }}
            </p>
            <p>{{ data.lastupdate | date: "longDate" }}</p>
            <p>Nombre de cas rétablis de COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 md-3">
        <div class="card card-deaths">
          <div class="card-body">
            <h3 class="card-title">DÉCÈS</h3>
            <p class="card-text" [countUp]="data.deaths">
              {{ data.deaths | number }}
            </p>
            <p>{{ data.lastupdate | date: "longDate" }}</p>
            <p>Nombre de décès de cas de COVID-19</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="graph">
  <div class="container">
    <div class="row">
      <div class="col chart-wrapper">
        <canvas
          *ngIf="global"
          baseChart
          [chartType]="lineChartType"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
        >
        </canvas>
        <canvas
          *ngIf="!global"
          baseChart
          [chartType]="pieChartType"
          [datasets]="pieChartData"
          [labels]="pieChartLabels"
        >
        </canvas>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3>À propos</h3>
        <p>FENNICHE Ouahab.</p>

        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>Contactez moi</h3>
        <ul class="list-unstyled">
          <li>
            <p>
              <strong><i class="fas fa-map-marker-alt"></i> Adresse:</strong>
              Lille, France
            </p>
          </li>
          <li>
            <p>
              <strong><i class="fas fa-envelope"></i> Email:</strong>
              <a href="#"> ouahabfenniche@outlook.fr</a>
            </p>
          </li>
          <li>
            <p>
              <strong><i class="fas fa-phone"></i> Téléphone:</strong> +33 (0)
              758750137
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
